
$myFlix-Red: #FC4242;
$myFlix-LightRed: #F5CECE;
$myFlix-Popcorn: #F7AC08;


// .my-flix {
// }

img{
  width: 350px;
  height: auto;
  margin: auto 5%;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 1200px;
}

.movie-card {
  border: 1px solid black;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.26);
  box-sizing: border-box;
  border-radius: 15px;
  
  cursor: pointer;
}

#logout-button {
  background-color: $myFlix-Popcorn;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  size: 25px;
}